input.score-input {
  width: 85px;
}

#canvas-container {
  margin: auto;
  width: 95%;
}

#canvas {
  display: block;
}

.btn-remove-player {
  font-size: 12px;
}

.tile-heading {
  text-align: center;
}

.tile-image {
  border-radius: 5px;
}
