#canvas-container {
  margin: auto;
  width: 95%;
}

#canvas {
  display: block;
}

.score-input {
    min-width: 50px;
}

.tile-heading {
  text-align: center;
}

.tile-image {
  border-radius: 5px;
}
